@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC|Roboto|Open+Sans');


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: linear-gradient(150deg,#9ACD32 10%, #FFC0CB 70%);
}

header {
    font-family: 'Noto Serif TC';
    width: 100%;
    min-height: 25%;
    height: 20vw;
    left: 0;
    top: -100px;
    overflow: hidden;
    /* transform: skewY(-7deg); */
    transform-origin: 0;
    background: linear-gradient(150deg,#9ACD32 10%, #FFC0CB 70%);
    opacity: 0.5;
    position: absolute;
}

#entry-point {
    margin-top: 10vh;
    padding-top: 100px;
}

#page-title {
    position: absolute;
    font-size: 8vh;
    color: white;
    bottom: 0;
    padding-left: 2vh;
    padding-bottom: 2vh;
}


.error-message {
    color: #f26968;
}

.section {
    margin-top: 10px;
    padding-left: 10px;
}

input {
    font-family: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe2d2;
    outline: none;
    font-size: 16px;
    line-height: 34px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.left-input, .left-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.right-input, .right-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

.fee-container {
    text-align: right;
}
.fee-container > input {
    width: 30%;
}

.responsive-inline-input-container > input.tax-tip {
    width: 30%;
}

input:focus {
    border-color: #9ACD32;
}

.iterated-input {
    border-color: transparent;
    margin-bottom: 10px;
    margin-right: 10px;
}

.iterated-input:focus {
    border-color: transparent;
    border-bottom-color: #9ACD32; 
}

.section-label {
    font-weight: bold;
}

.clickable {
    color: #DB7093;
    font-weight: 500;
    display: inline-block;
}
.right-clickable {
    margin-left: 20px;
}

.clickable:hover {
    cursor: pointer;
}

#select-everyone-button {
    margin-bottom: 1em;
    display: inline;
    margin-left: 5px;
}

button {
    background-color: #9ACD32;
    color: white;
    border: 0;
    outline: none;
    font-size: 16px;
    height: 36px;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
}

.accent-button {
    background-color: #DB7093;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sub-button {
    background-color: #9ACD32;
}

.responsive-inline-input-container {
    margin-bottom: 5px;
}

.responsive-inline-input-container > label {
    width: 150px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

#person-checkbox-container {
    margin-top: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.person-checkbox-line {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 200px;
    height: 40px;
}

.person-checkbox-line:hover {
    cursor: pointer;
}

.person-checkbox {
    display: none;
}

.person-checkbox-label { 
    display: block;
    text-align: center; 
    height: 100%;
    line-height: 40px;
    border: 2px solid #FFC0CB;
    background-color: white;
}

.person-checkbox:active + .person-checkbox-label {
    background-color: #FFC0CB;
}

.person-checkbox-label:hover {
    cursor: pointer;
}

.person-checkbox:checked + .person-checkbox-label {
    background-color: #FFC0CB;
}

.responsive-inline-input-container > .tip-units-checkbox {
    display: none;
}
.responsive-inline-input-container > .tip-units-checkbox-label {
    display: inline-block;
    text-align: center;
    border: 2px solid #9ACD32;
    background-color: white;
    width: 57px !important;
    margin-right: 0px !important;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 24px;
}

.responsive-inline-input-container > .tip-units-checkbox:checked + .tip-units-checkbox-label {
    background-color: 	#9ACD32;
    font-weight: bold;
    color: white;
}

#add-item-button {
    clear: both;
}

.aligned-row > * {
    vertical-align: middle;
}
.breakdown-container {
    margin-top: 5px;
}
.person-split-container {
    margin-bottom: 5px;
} 
.person-split-container ul {
    margin-top: 5px;
}

.vertical-space {
    margin-bottom: 50px;
}


/* mobile */
/* iPhone  */
@media only screen and (min-device-width: 320px) and (max-device-width: 414px) {
    html {
        font-family: sans-serif;
        font-size: 2.25em;
    }
    body { 
        width: 90%;
        margin: auto;
    }
    #entry-point {
        margin-top: 15vh;
    }
    #blockButton {
        margin-left: 20px;
    }
    h1 {
        font-size: 2em;
    }
    input {
        font-size: inherit;
        padding: 16px;
        border-width: 2px;
    }
    input:focus {
        border-width: 2px;
    }
    button {
        font-size: inherit;
        height: 85px;
        border-radius: 6px;
        line-height: 2.25em;
        padding-left: 1em;
        padding-right: 1em;
    }
    #select-everyone-button {
        margin-top: 1em;
        margin-left: 10px;
    }
    #add-item-button {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .person-checkbox-line {
        margin-bottom: 15px;
        margin-right: 15px;
        width: 300px;
        height: 150px;
    }
    .remove-item {
        margin-left: 15px;
    }
    .breakdown-container {
        margin-top: 15px;
    }
    .person-checkbox-label { 
        line-height: 150px;
    }
    .person-split-container {
        margin-bottom: 15px;
    } 
    .responsive-inline-input-container {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }
    .responsive-inline-input-container > input{
        display: inline-block;
        width: 40%;
    }
    .responsive-inline-input-container > button {
        display: inline-block;
    }
    .responsive-inline-input-container > label {
        display: inline-block;
        width: calc(40% - 10px);
        text-align: right;
        margin-right: 15px;
    }
    .responsive-inline-input-container > .tip-units-checkbox-label {
        height: 2.25em;
        line-height: 2.25em;
        padding-right: 10px;
        padding-left: 10px;
    }
}