@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC|Roboto|Open+Sans');
@import './meyer-reset.css';

html {
    height: 100%; 
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}
@media only screen and (max-device-width: 414px) {
    body {
        line-height: 1.3;
    }
}

h3 {
    font-size: 18px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(150deg,#9ACD32 10%, #FFC0CB 70%);
}

header {
    font-family: 'Noto Serif TC';
    width: 100%;
    height: 20vh;
    left: 0;
    top: 0;
    background: linear-gradient(150deg,#9ACD32 10%, #FFC0CB 70%);
    opacity: 0.5;
    position: absolute;
}

#entry-point {
    padding-top: calc(20vh + 20px);
    margin-left: 20px;
    margin-right: 20px;
}

#page-title {
    position: absolute;
    font-size: 8vh;
    color: white;
    bottom: 0;
    padding-left: 2vh;
    padding-bottom: 2vh;
}

.top-spacing-xsmall {
    margin-top: 5px;
}
.top-spacing-small {
    margin-top: 10px;
}

.error-message {
    color: #f26968;
}

.section {
    margin-top: 10px;
    padding-left: 10px;
}

input {
    font-family: inherit;
    font-size: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe2d2;
    padding: 6px;
}

.left-input, .left-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.right-input, .right-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

@media only screen and (min-width: 768px) {
    .decimal-button {
        display: none;
    }
}

.fee-container {
    text-align: right;
}
.fee-container > input {
    width: 30%;
}

.responsive-inline-input-container > input.tax-tip {
    width: 30%;
}

input:focus {
    border-color: #9ACD32;
}

.iterated-input {
    border-color: transparent;
    margin-bottom: 10px;
    margin-right: 10px;
}

.iterated-input:focus {
    border-color: transparent;
}

.clickable {
    color: #DB7093;
    font-weight: 500;
    display: inline-block;
}
.right-clickable {
    margin-left: 20px;
}
.left-pad {
    margin-left: 5px;
}

.clickable:hover {
    cursor: pointer;
}

button {
    background-color: #9ACD32;
    color: white;
    border: 0;
    outline: none;
    font-size: 16px;
    height: 36px;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.accent-button {
    background-color: #DB7093;
    margin-bottom: 20px;
}

.sub-button {
    background-color: #9ACD32;
}

.responsive-inline-input-container {
    margin-bottom: 5px;
}

.responsive-inline-input-container > label {
    width: 150px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}
@media only screen and (max-device-width: 500px) {
    .responsive-inline-input-container > label {
        width: 100px;
    }
}

#person-checkbox-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.person-checkbox-line {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 200px;
    height: 40px;
}
/* @media only screen and (max-device-width: 414px) {
    .person-checkbox-line {
        margin-bottom: 15px;
        margin-right: 15px;
        width: 300px;
        height: 150px;
    }
} */

.person-checkbox-line:hover {
    cursor: pointer;
}

.person-checkbox {
    display: none;
}

.person-checkbox-label { 
    display: block;
    text-align: center; 
    height: 100%;
    line-height: 40px;
    border: 2px solid #FFC0CB;
    background-color: white;
    position: relative;
    padding-left: calc(10px + 1.5em); /* ensures name doesn't overlap with + icon */
}

.person-checkbox-plus {
    color: #DB7093;
    position: absolute;
    left: 10px;
    top: 6px;
}
.person-checkbox-plus svg {
    width: 24px;
    height: 24px;
}

.person-checkbox-name {
    margin-left: -24px; /* left adjustment for + icon */
}

.person-checkbox:active + .person-checkbox-label {
    background-color: #FFC0CB;
}

.person-checkbox-label:hover {
    cursor: pointer;
}

.person-checkbox:checked + .person-checkbox-label {
    background-color: #FFC0CB;
}

.responsive-inline-input-container > .tip-units-checkbox {
    display: none;
}
.responsive-inline-input-container > .tip-units-checkbox-label {
    display: inline-block;
    text-align: center;
    border: 2px solid #9ACD32;
    background-color: white;
    width: auto;
    margin-right: 0px !important;
    padding: 0 5px;
    height: 32px;
    line-height: 32px;
}

.responsive-inline-input-container > .tip-units-checkbox:checked + .tip-units-checkbox-label {
    background-color: 	#9ACD32;
    font-weight: bold;
    color: white;
}

#add-item-button {
    margin-bottom: 16px;
}

.item-container {
    background-color: #ededed;
    border-radius: 2px;
    position: relative;
    padding: 10px 15px;
    margin-top: 10px;
}

.item-title {
    font-weight: 600;
    border-bottom: 1px solid #f9f9f9;
    padding-bottom: 5px;
}

.item-title > div {
    display: inline-block;
}

.item-price {
    float: right;
    margin-right: 16px;  /* todo(rica) */
}

.item-price-per-person {
    color: #adadad;
}
.remove-item {
    position: absolute;
    top: 10px;
    right: 10px;
}

.split-by-subtitle {
    color: #bababa;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 5px;
}

.aligned-row > * {
    vertical-align: middle;
}

.person-split-container ul {
    margin-top: 5px;
}

.split-container {
    margin-bottom: 40px;
}

.vertical-space {
    margin-bottom: 50px;
}

.remove-item {
    margin-left: 5px;
}